<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./assets/css/vendor.min.css">
    <link rel="stylesheet" href="./assets/css/client.min.css">
</head>
<body>
    <div id="root"></div>
    <script src="<%=bundle%>"></script>
</body>
</html>
