<!DOCTYPE html>
<html>
<head>
    <title>Application</title>
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,300,100,300italic,100italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="root"></div>
    <script src="/static/js/bundle.js"></script>
</body>
</html>
