<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,600italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/vendor.min.css">
    <link rel="stylesheet" href="/css/client.min.css">
</head>
<body>
    <div class="b-container">
        <div class="b-box">
            <div class="b-box__middle">
                <form class="b-form" method="post" action="/auth/local">
                    <label class="b-form__row">
                        <input class="b-input" type="text" name="username" placeholder="Username">
                    </label>
                    <label class="b-form__row">
                        <input class="b-input" type="password" name="password" placeholder="Password">
                    </label>
                    <label class="b-form__row">
                        <input class="b-btn b-btn_full-width" type="submit" value="Sign in">
                    </label>
                    <label class="b-form__row">
                        or you can <a href="/sign-up">sign up</a>
                    </label>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
