$rootFontSize: 16px;

$bg: #2c323e;
$header-bg: #1f2532;

$shadow: 0px 2px 4px 0px rgba(0,0,0,0.40);
$shadow-hover: 0px 2px 4px 0px rgba(0,0,0,0.50);
$shadow-active: 0px 2px 4px 0px rgba(0,0,0,0.20);

$light: #f9f9fb;
$turquoise: #1abc9c;
$gray: #e3e8f0;
$gray-a: #ecf0f1;
$red: #c0392b;
$blue: #2980b9;

$black: #000;
$white: #fff;
$green: #33cd5f;
$orange: #ffc900;
$dark-gray: #ddd;
$dark: #444;
