.b-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $turquoise;
    color: $white;
    border-radius: 2px;
    cursor: pointer;
    height: 40px;
    padding: 0 16px;
    transition: background-color .2s ease-out;
    box-shadow: $shadow;
    &:hover {
        background-color: darken($turquoise, 5%);
    }
    &_full-width {
        width: 100%;
    }
}
