.b-btn {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $turquoise;
    color: $white;
    border-radius: 2px;
    cursor: pointer;
    height: 40px;
    padding: 0 16px;
    transition: background-color .2s ease-out;
    box-shadow: $shadow;
    @include no-select();
    &:hover {
        background-color: darken($turquoise, 5%);
    }
    &:active {
        background-color: darken($turquoise, 10%);
    }
    &_red {
        background-color: $red;
        &:hover {
            background-color: darken($red, 5%);
        }
        &:active {
            background-color: darken($red, 10%);
        }
    }
    &_full-width {
        width: 100%;
    }
    &_sm {
        height: 26px;
        font-size: 12px;
    }
}
