.b-board-tile {
    background-color: $light;
    border-radius: 2px;
    box-shadow: $shadow;
    height: 120px;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    &__bottom {
        margin-top: auto;
    }
    &__top, &__bottom {
        align-items: center;
        display: flex;
    }
    &__right {
        margin-left: auto;
    }
    &__more {
        font-size: 14px;
        color: $black;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__board-info {
        display: flex;
    }
    &__icon-item {
        margin-right: 15px;
        &:last-child {
            margin-right: 0;
        }
    }
}
