.b-boards {
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
    position: relative;
  }
  &__spinner {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  &__item {
    width: 25%;
    padding: 10px;
  }
  &__message {
    color: $white;
    font-size: 14px;
  }
  &_transparent {
    opacity: .7;
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
}
