.b-boards-list {
    padding-top: 40px;
    padding-bottom: 128px;
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: -10px;
    }
    &__item {
        width: 25%;
        padding: 10px;
    }
}
