.b-comments {
    &__item {
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid $gray;
        /* &:last-child { */
        /*     padding-bottom: 0; */
        /*     margin-bottom: 0; */
        /*     border-bottom: 0; */
        /* } */
    }
}
