.b-card-colors {
  display: flex;
  margin: 0 -3px;
  &__item {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin: 0 3px;
    cursor: pointer;
    position: relative;
    &_active {
      &:before {
        content: '';
        width: 22px;
        height: 22px;
        position: absolute;
        top: -2px;
        left: -2px;
        background-color: inherit;
        border-radius: 2px;
      }
    }
  }
}
