.b-card {
  display: block;
  text-decoration: none;
  border-radius: 2px;
  padding: 6px 9px;
  color: $black;
  font-size: 12px;
  box-shadow: $shadow;
  background-color: $white;
  line-height: 1.35;
  cursor: pointer;
  transition: all .2s;
  outline: none;
  position: relative;
  &__colors {
    display: flex;
    margin: 4px -2px 0;
  }
  &__color {
    width: 30px;
    height: 6px;
    border-radius: 2px;
    margin: 0 2px;
  }
  &__remove {
    width: 12px;
    position: absolute;
    top: 7px;
    right: 4px;
    transition: opacity .2s;
    opacity: 0;
  }
  &:hover {
    background-color: darken($white, 1);
    .b-card {
      &__remove {
        opacity: 1;
      }
    }
  }
}
