.b-card {
  display: block;
  text-decoration: none;
  border-radius: 2px;
  padding: 6px 9px;
  color: $black;
  font-size: 12px;
  box-shadow: $shadow;
  background-color: $white;
  line-height: 1.35;
  cursor: pointer;
  transition: all .2s ease-out;
  &:hover {
    background-color: darken($white, 1)
  }
  &:active {
    transform: scale(.98);
    box-shadow: $shadow-active;
  }
}
