.b-error-box {
    background-color: $red;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    color: $white;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 8px;
    padding: 3px 6px;
    display: block;
}
