.b-edit-card-form {
  textarea {
    line-height: 1.5;
  }
  &__area {
    margin-bottom: 10px;
  }
  &__buttons {
    display: flex;
  }
  &__button {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}
