.b-header {
    background-color: $header_bg;
    height: $header-height;
    position: relative;
    z-index: 2;
    &__wrap {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__right {
        margin-left: auto;
    }
}
