.b-header {
    background-color: $header_bg;
    height: 60px;
    position: relative;
    z-index: 1;
    &__wrap {
        display: flex;
        align-items: center;
        height: 100%;
    }
    &__right {
        margin-left: auto;
    }
}
