.b-input-form {
    &__input {
        border: 0;
        border-radius: 2px;
        height: 28px;
        padding: 0 10px;
        font-size: 12px;
        width: 100%;
        box-shadow: $shadow;
    }
}
