.b-input-form {
    position: relative;
    &__input {
        border: 0;
        border-radius: 2px;
        height: 26px;
        padding: 0 10px;
        font-size: 12px;
        width: 100%;
        box-shadow: $shadow;
    }
    &__cross {
        position: absolute;
        height: 100%;
        top: 0;
        right: 6px;
        display: flex;
        align-items: center;
        i {
            width: 12px;
        }
    }
}
