.b-round-spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation: round-spinner 1s infinite linear;
}

.b-round-spinner, .b-round-spinner__inside {
  border-radius: 50%;
}

@keyframes round-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
