.b-sign {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/static/images/sign-bg.jpg);
  background-size: cover;
  background-position: center;
  &__middle {
    position: relative;
    z-index: 1;
    max-width: 380px;
    padding: 0 20px;
    width: 100%;
  }
  &__nav {
    display: flex;
    margin-bottom: 24px;
  }
  &__nav-link {
    font-size: 20px;
    color: $white;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-right: 18px;
    padding-bottom: 4px;
    transition: border-color .2s ease-out;
    &_active, &:hover {
      border-color: $white;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($black, .4);
  }
}
