$avatar-size: 38px;

.b-user-box {
    position: relative;
    @include no-select();
    &__username, &__role {
        display: block;
        color: $white;
    }
    &__username {
        font-size: 15px;
        line-height: 1;
    }
    &__role {
        font-size: 11px;
        font-weight: 300;
    }
    &__avatar {
        border: 1px solid $white;
        border-radius: 50%;
        width: $avatar-size;
        height: $avatar-size;
    }
    &__wrap {
        display: table;
        table-layout: fixed;
        cursor: pointer;
    }
    &__left, &__right {
        display: table-cell;
        vertical-align: middle;
    }
    &__left {
        padding-right: 12px;
        text-align: right;
    }
    &__right {
        width: $avatar-size;
    }
    &__menu {
        position: absolute;
        margin-top: 15px;
        right: 0;
    }
}
