.c-notice {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    &__message {
        color: $white;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        &_info {
            background-color: $green;
        }
        &_error {
            background-color: $red;
        }
    }
}
